/* Controls */
.content-pad.just {
    max-width: 100%;
    min-width: 0;
    overflow-x: clip;
}

paypal-cart-button,
paypal-add-to-cart-button {
    display: block;
    max-width: 100%;
}

@supports not (overflow: clip) {
    .content-pad.just {
        overflow-x: hidden;
    }
}

.content-pad.just>* {
    max-width: 100%;
    min-width: 0;
}

.content-pad.just img,
.content-pad.just svg,
.content-pad.just video,
.content-pad.just canvas,
.content-pad.just iframe {
    max-width: 100%;
    height: auto;
}

.content-pad.just #pagerTop,
.content-pad.just #pagerBottom {
    max-width: 100%;
    min-width: 0;
}

.content-pad.just #pagerTop>*,
.content-pad.just #pagerBottom>* {
    min-width: 0;
    max-width: 100%;
}

.content-pad.just .pager-jump {
    max-width: 100%;
    min-width: 0;
}

.content-pad.just .pager-jump input {
    max-width: 100%;
}

/* Controls form (filters/sort) */
.controls {
    max-width: 100%;
    margin: 0 0 14px 0;
    font-size: 0;
}

.controls>div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    max-width: 100%;
    min-width: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    font-size: 17px;
}

.controls>div:nth-child(odd) {
    margin-right: 20px;
}

.controls>div:nth-child(even) {
    margin-right: 0;
}

.controls input,
.controls select,
.controls button {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    margin: 0;
    padding: 8px 10px;
    line-height: 1.2;
    height: 40px;
    font: inherit;
    color: inherit;
    background-color: var(--paper-2);
    border: 1px solid var(--border);
    box-sizing: border-box;
}

.controls input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

@media (max-width: 740px) {
    .controls>div {
        display: block;
        width: 100%;
    }

    .controls>div:nth-child(odd) {
        margin-right: 0;
    }
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 10px 0;
}

.pagination button {
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.active {
    background: #222;
    color: #fff;
}

/* Hide items not in the current page or search */
.hidden {
    display: none !important;
}

/* Spacing below each stamp */
.stamp {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
    padding: 50px 60px 30px 10px;
    margin-bottom: 35px;
    background-image: url("../picts/stamp-border.png");
    background-size: 100% 100%;
}

.stamp.last-visible {
    border-bottom: none;
    padding-bottom: 15;
    margin-bottom: 30;
}